@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

.projectPart {
    margin: auto;
    background: #101010;
    padding: 80px 0px;
    position: relative;
    text-align: center;
}

.projectCard {
    width: 25%;
    min-width: 270px;
    margin: 40px;
    display: inline-block;
    text-align: left;
    background-color: #2f2f2fbf;
}

.projectCard img {
    width: 100%;
}

.projectCardTextArea {
    padding: 20px;
    position: relative;
    top: -10px;
}

.projectCard h2 {
    margin: 5px 0px 0px 0px;
    font-weight: 600;
    font-size: 20px;
}

.projectCard h6 {
    margin: 5px 0px 0px 0px;
    font-weight: 500;
    font-size: 14px;
}

.projectCard p {
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0px;
}

.projectCard button {
    width: 100%;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    color: #000;
    font-weight: 700;
    background-color: #05e69e;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #fff0;
}

.projectCard button:hover {
    box-shadow: 0px 0px 10px 0px #00000021;
    border: 2px solid #fff;
    transition: 0.3s all ease-in-out;
}

.projectSection {
    position: relative;
    padding: 50px;
    padding-bottom: 75px;
    padding-bottom: 100px;
}

.projectSectionBgEven {
    background-color: #171717;
}

.projectSectionBgOdd {
    background-color: #101010;
}

.projectSectionBackgroundOddLight {
    background-color: #f5f5f5;
    color: #000;
}

.projectSectionBackgroundEvenLight {
    background-color: #fff;
    color: #000;
}

.projectSectionTextLight {
    color: #171717 !important;
}

.redClass {
    color: red;
}

.projectSectionText {
    width: 75%;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.projectSectionText h6 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #cecece;
}

.projectSectionText h3 {
    font-size: 26px;
    margin-top: 10px;
}

.projectSectionText p {
    color: #c1c1c1;
    margin-bottom: 10px;
}

.projectSectionText a {
    color: #05e69e;
    text-decoration: none;
    margin: 0px 40px;
    padding: 10px 0px;
    top: 15px;
    position: relative;
}

.projectSectionText a:hover {
    border-bottom: 2px solid #05e69e;
    transition: 0.2s all ease-in-out;
}

.projectSectionText img {
    width: 10%;
    min-width: 100px;
    max-width: 200px;
}

.projectDemoPic {
    width: 75%;
    margin: auto;
    display: block;
    max-width: 1600px;
}

.footer {
    background-color: #141414;
    padding: 40px;
    text-align: center;
    color: #f3f3f3;
}

.navbar {
    width: 100%;
    height: 80px;
}

.navbar svg {
    width: 130px;
    margin: 14px 30px;
    fill: #fff;
    z-index: 50;
    position: relative;
}

.navA {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
}

.footerButton:hover {
    background-color: #fff;
    color: #000;
    transition: 0.4s all ease-in-out;
}

.navbar a:hover {
    background-color: #ffffff;
    color: #1f1e1e;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
}

.navOptions {
    display: inline-block;
    position: absolute;
    margin: 27px 40px;
    right: 0;
    z-index: 50;
}

.navOptions li {
    margin: 0px 5px 0px 0px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.header {
    height: 100%;
    position: relative;
    background-color: #15141400;
    padding: 100px 60px;
    max-width: 1800px;
    margin: auto;
}

.headerTitle {
    z-index: 50;
    position: relative;
    font-size: 62px;
    width: 70%;
    margin-left: 30px;
    line-height: 120px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.header i {
    font-size: 28px;
    margin-right: 15px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 30px;
}

.lightIconHover:hover {
    background-color: #000 !important;
    color: #fff !important;
    transition: 0.4s ease-in-out;
}

.header i:hover {
    background-color: #fff;
    color: #000;
    transition: 0.4s ease-in-out;
}

.header hr {
    height: 3px;
    background-color: #05e69e;
    border: none;
    z-index: 50;
    position: relative;
}

.headerBackground {
    background: url(/img/background-dark.svg) 0 0 repeat;
    background-color: #141414;
    background-size: 1250px;
}

.lightBackground {
    background-color: #fff !important;
}

.headerBottomLeft {
    display: inline-block;
    width: 40%;
    margin: 40px;
    height: 100px;
    z-index: 50;
    position: relative;
}

.headerBottomLeft h2 {
    font-size: 22px;
    line-height: 34px;
    font-family: 'Montserrat', sans-serif;
}

.headerBottomRight {
    text-align: center;
    float: right;
    width: 40%;
    margin: 40px;
    position: inherit;
}

.headerProjectLink {
    padding: 15px 40px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background: #fff;
    font-weight: 600;
    border: 4px solid #5af9c600;
    transition: 0.4s border ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.headerProjectLink:hover {
    border: 4px solid #05e69e;
}

.projectLinkInvert {
    color: #fff;
    background: #000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    margin: 0px 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 0px 5px 0px #000000;
}

input:checked+.slider {
    background-color: #313131;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.lightMode {
    background-color: #fff0 !important;
    color: #000 !important;
    fill: #000 !important;
}

.lightModeCards {
    background-color: #fff !important;
    color: #000 !important;
    fill: #000 !important;
    box-shadow: 0px 0px 5px #00000029;
}

.lightModeOffWhite {
    background-color: #fbfbfb !important;
    color: #000 !important;
    fill: #000 !important;
}

.lightModeA {
    color: #000;
    fill: #000;
}

.lightModeA:hover {
    background-color: #1f1e1e !important;
    color: #ffffff !important;
}

@media only screen and (max-width: 950px) {

    .headerBottomRight,
    .headerBottomLeft {
        display: block;
        text-align: center;
        width: 40%;
        margin: 50px auto;
        float: none;
    }

    .headerTitle {
        font-size: 36px;
        line-height: 70px;
        text-align: center;
        margin: auto;
        margin-top: 35px;
    }

    .navOptions {
        float: right;
        margin: 20px 0px;
    }

    .navA {
        padding: 10px 13px;
    }

    .navOptions li {
        margin: 0;
        font-size: 12px;
    }

    .navbar svg {
        width: 70px;
        margin: 21px 30px;
    }

    #darkModeOption {
        display: none;
    }

    .header {
        padding-top: 0px;
    }
}